<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Innovation Matrix Fetchcore WebApp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- WHEN THIS IS DONE FIGURE OUT HOW TO GET THESE LOCAL SCRIPTS TO WORK SO DONT HAVE TO DOWNLOAD -->
	<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/IMlogo.jpg') }}"> 
</head> 

<header>
	<div class="container" style="display:flex; width:100%;" >
		<div class="navbar-header" style="flex:1">
	      <a class="navbar-brand" href="/" align="left">
		  <img style="max-width:120px; margin-top: 10px; margin-bottom: 15px" src="{{ url_for('static', filename='images/IMlogo.jpg') }}">
		  </a>
	    </div>

		<div class = "container-fluid" align="right" style="flex:1">
			<a href="/clearsession/Logged Out"><button type="button" class="btn btn-primary" aria-label="Right Align" style="margin-top: 15px; margin-bottom: 5px; height: 44px; margin-right: 15px; margin-left: 15px; " >
			  <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out
			</button></a>
			<div style="margin-right: 10px; margin-top: 5px; margin-bottom: 30px; width:100%"  class="container-fluid">	
			</div>
		</div>
	</div>
</header>



<body >
	<div class="border-row" style="width:100%; margin-bottom:15px; margin-top:15px"> </div>
	<div class="container-fluid" style="min-height: 100%">
		
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
			  <div class="alert alert-warning alert-dismissible" role="alert" style="z-index: 100">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  	<span aria-hidden="true">×</span></button>
				{{message}}
			  </div>
			{% endfor %}
		  {% endif %}
		{% endwith %}

		{% block body %} 
		<!-- when another file extends header.html content goes in here -->
		{% endblock %}
	</div>

	
</body>

<footer>
	<div class="footer navbar-fixed-bottom" style="text-align: center; margin-top:15px; z-index: -1">
		<p>Innovation Matrix 2018</p>
	</div>
</footer>

</html>
