<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Innovation Matrix Fetchcore WebApp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/IMlogo.jpg') }}"> 
</head> 


<header>
	<div class="navbar navbar-default">
		<div class="container-fluid">

			<!-- Logo -->
			<div class="navbar-header">
		    	<a class="navbar-brand" href="/" align="left">
					<img style="max-height: 100%;" 
					src="{{ url_for('static', filename='images/IMlogo.jpg') }}">
				</a>
		    </div>

		    <!-- Logout -->
		    <div class="nav navbar-nav navbar-right" style="font-size: 5">
		    	<li><a href="/clearsession/Logged Out">Log Out</a></li>
		    </div>



		</div>
	</div>
</header>



<body >
	<div class="border-row" style="width:100%; margin-bottom:15px; margin-top:15px"> </div>
	<div class="container-fluid" style="min-height: 100%">
		
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
			  <div class="alert alert-warning alert-dismissible" role="alert" style="z-index: 100">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  	<span aria-hidden="true">×</span></button>
				{{message}}
			  </div>
			{% endfor %}
		  {% endif %}
		{% endwith %}

		{% block body %} 
		<!-- when another file extends header.html content goes in here -->
		{% endblock %}
	</div>

	
</body>

<footer>
	<div class="footer navbar-fixed-bottom" style="text-align: center; margin-top:15px; z-index: -1">
		<p>Innovation Matrix 2018</p>
	</div>
</footer>

</html>
