{% extends "header.html" %}

{% block body %}
<div role="tabpanel">

	<ul class="nav nav-tabs nav-justified" role="tablist" style="background-color:#ede7e1;">
		<!-- List out avaliable robots -->
		{% for robot in robotlist %}
			<li role="presentation"><a href="#{{ robot }}" aria-controls="{{ robot }}" role="tab" 
				data-toggle="tab">{{ robot }}</a></li>
		{% endfor %}
		
	</ul>

	<div class="tab-content" style="margin-bottom: 75px">
		{% for robot in robotlist %}
	  		<div role="tabpanel" class="tab-pane fade" id="{{ robot }}">
	  			{% for pose_name in robotlist[robot] %}
	  				<div class="btn-group" role="group" style="display:flex">
	  					<button type="button" class="btn btn-primary btn-lg" id="{{ pose_name }}" style="margin-top:15px; flex:1" 
	  						onclick="window.location.href='{{url_for('sendpose', robotdata=robot+ '+' +pose_name )}}';">{{ pose_name }}
	  					</button>
	  				</div>
	  			{% endfor %}
	  		</div>
		{% endfor %}
	</div>


	<div class="robot-info">

	</div>
</div>

{% endblock %}


