{% extends "header.html" %}

{% block body %}

<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{ selected_robot }} <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<!-- List out avaliable robots -->
		{% for robot in robotlist %}
			{% if robot != selected_robot %}
				<!-- <li><a href="#{{ robot }}">{{ robot }} </a></li> -->
				<li onclick="window.location.href='{{url_for('displaynext',selected_robot=robot)}}'">{{ robot }}</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<div class="container-fluid">
	<div class="row">
		{% for pose in robot_poses %}
			<button type="button" class="btn btn-primary btn-lg" id="{{ pose.name }}" 
			onclick="window.location.href='{{url_for('sendpose', robotdata=selected_robot+ '+' +pose.name )}}';">{{ pose.name }}</button>
		{% endfor %}
	</div>
</div>


<!-- </ul>

<div class="dropdown-content" style="margin-bottom: 75px">
	{% for robot in robotlist %}
  		<div role="tabpanel" class="tab-pane fade" id="{{ robot }}">
  			{% for pose in robotlist[robot] %}
  				<div class="btn-group" role="group" style="display:flex">
  					<button type="button" class="btn btn-primary btn-lg" id="{{ pose.name }}" style="margin-top:15px; flex:1" 
  						onclick="window.location.href='{{url_for('sendpose', robotdata=robot+ '+' +pose.name )}}';">{{ pose.name }}
  					</button>
  				</div>
  			{% endfor %}
  		</div>
	{% endfor %}
</div>
 -->

<div class="robot-info">

</div>

{% endblock %}


