{% extends "header.html" %}

{% block body %}

<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{ selected_robot }} <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<!-- List out avaliable robots -->
		{% for robot in robotlist %}
			{% if robot != selected_robot %}
				<li onclick="window.location.href='{{url_for('displaynext',selected_robot=robot)}}'"
				style="text-align: center;">{{ robot }}</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<div class="container-fluid">
	<!-- cycle through each robot pose and append a button -->
	{% for pose in robot_poses %}

	<!-- insert rows every 3 poses -->
		{% if loop.index0 % 3 == 0 %}  
			<div class="row" style="font-size: xx-large; display: flex; align-items: center">
		{% endif %}

			<div class="col-md-4 col-sm-4" style="margin-top: 2.5vh; margin-bottom: 2.5vh; font-size: larger">
				<button type="button" class="btn btn-primary btn-lg" id="{{ pose.name }}" 
					style=" padding-top:10vh; padding-bottom:10vh; font-size: larger; white-space: normal; margin: auto; width: 100%; font-weight: bold"
					onclick="window.location.href='{{url_for('sendpose', robotdata=selected_robot+ '+' +pose )}}';"
					>{{ pose }}
				</button>
			</div>

		<!-- close the row divs -->
		{% if loop.index0 % 3 == 2 or loop.last %}
			</div>
		{% endif %}

	{% endfor %}
</div>


<!-- </ul>

<div class="dropdown-content" style="margin-bottom: 75px">
	{% for robot in robotlist %}
  		<div role="tabpanel" class="tab-pane fade" id="{{ robot }}">
  			{% for pose in robotlist[robot] %}
  				<div class="btn-group" role="group" style="display:flex">
  					<button type="button" class="btn btn-primary btn-lg" id="{{ pose.name }}" style="margin-top:15px; flex:1" 
  						onclick="window.location.href='{{url_for('sendpose', robotdata=robot+ '+' +pose.name )}}';">{{ pose.name }}
  					</button>
  				</div>
  			{% endfor %}
  		</div>
	{% endfor %}
</div>
 -->

<div class="robot-info">

</div>

{% endblock %}


